{% extends 'base.html' %}

{% block title %}About - Country Info App{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-2">About Country Info App</h1>
        
        <div class="content">
            <p class="is-size-5">
                Country Info App is a simple web application that provides information about countries around the world.
                The data is sourced from the RestCountries API and presented in an easy-to-use interface.
            </p>
            
            <h2 class="title is-4">Features</h2>
            <ul>
                <li>View basic information about all countries</li>
                <li>Search countries by name</li>
                <li>View detailed information about each country</li>
                <li>Discover countries in the same region</li>
                <li>Find countries that speak the same language</li>
            </ul>
            
            <h2 class="title is-4">Technologies Used</h2>
            <div class="tags">
                <span class="tag is-primary is-medium">Django</span>
                <span class="tag is-primary is-medium">Django REST Framework</span>
                <span class="tag is-info is-medium">Bulma CSS</span>
                <span class="tag is-info is-medium">JavaScript</span>
                <span class="tag is-success is-medium">RestCountries API</span>
            </div>
            
            <h2 class="title is-4">Project Assignment</h2>
            <p>
                This web application Inclues:
            </p>
            <ul>
                <li>Working with external APIs</li>
                <li>Backend development with Django</li>
                <li>Creating RESTful APIs</li>
                <li>Frontend development with HTML, CSS, and JavaScript</li>
                <li>Data presentation and user interface design</li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}